* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo {
  display: block;
  margin: 50px auto;
  width: 300px;
  height: 300px;
   
}

body {
  background-image: url(./assests/Imagens/reelsbranco.jpg);
  background-size: cover;
 

 

}

h1 {
  display: block;
  justify-content: center;
  
}

main {
  margin: 0 auto;
  width: 375px;
  background: rgba(4, 51, 96, 0.562);
  border-radius: 10px;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 44px 24px 23px;
  
  
}

button {
  display: block;
  margin-top: 20px;
  background-color: #032e57;
  color: #FFF9EF;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 48px;
  cursor: pointer;
  
  
} 
button:hover {
  opacity: 0.9;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #043360;
  padding: 30px 20px;
  margin: 20px;
  
}

label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #FFF9EF;

}

select {
  background: #FFF9EF;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  padding-left: 10px;
  
}

input {
  background: #FFF9EF;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  padding-left: 10px;
  

}
h4 {
  color: #FFF9EF;

}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0px 60px;
  

}

h3 {
  background-color: #043360;
  color: #FFF9EF;
  border-radius: 5px;
  padding: 8px;

}

h1 {
  background-color: #043360;
  color: #FFF9EF;
  border-radius: 5px;
  margin-top: 20px;
  padding: 8px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  

}

.arrow-img {
    margin: 15px 0;

}






